body {
  padding-top: 80px;
  padding-bottom: 40px;

}

th,td {text-align: center;}

.table-board tr>td:nth-child(1){width:60px;}
.table-board tr>td:nth-child(2){text-align: left; margin-left:10px;}
.table-board tr>td:nth-child(3){width:90px;}
.table-board tr>td:nth-child(4){width:90px;}
.table-board tr>td:nth-child(5){width:60px;}

.form-write input[name="title"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-write textarea[name="content"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height:500px;
}

.table .thead-view{border-top: 2px solid #ddd; border-bottom: 2px solid #ddd;}
.table .thead-view th{border:0px;}
.table .thead-view tr>th:nth-child(1){width:60px;}
.table .thead-view tr>th:nth-child(2){text-align:left; margin-left:10px;}
.table .tbody-view td{text-align:left; padding-left:10px; padding-right:10px;}
.table .tbody-view {border-bottom: 2px solid #ddd;}
.btn-write { float:right; margin-left:20px; }

